<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-3</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h3>ユーザ名：<div sec:authentication="name"></div>
  </h3>
  <!--sec:authenticationで認証情報にアクセスできる．principal.authoritiesはロール名を表す-->
  <h3>ロール名：<div sec:authentication="principal.authorities"></div>
  </h3>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <span>あなたは管理者ですね</span>
  </div>

  <div sec:authorize="hasRole('ROLE_USER')">
    <div>あなたはユーザですね．</div>
  </div>

  <form th:action="@{/sample3/step6}" method="post">
    <input type="number" name="hiku1" />-
    <input type="number" name="hiku2" />
    <input type="submit" value="計算"><input type="reset" value="リセット">
  </form>
  <div th:if="${hikukekka}">
    結果：[[${hikukekka}]]
  </div>

  <p>
    <a href=" /sample3/step7">Sample3-7へGETで移動</a>
  </p>
</body>

</html>
